<html>
  <head>
    <title>Checagem de idade</title>

  </head>
  <body>

    <form action="/check" method="post">
      <labe for="nome">Nome</label>
      <input type="text" id="nome" name="nome">
      <br />
      <labe for="dataNascimento">Data de Nascimento</label>
      <input type="text" id="dataNascimento" name="dataNascimento" onkeyup="mascara(this, mdata);" maxlength="10">
      <br />
      <input type="submit" value="Enviar">
    </form>

    <script type="text/javascript">

      //mascara "express" para formatar o campo de datas
      function mascara(o,f){
          v_obj=o
          v_fun=f
          setTimeout("execmascara()",1)
      }
      function execmascara(){
          v_obj.value=v_fun(v_obj.value)
      }
      function mdata(v){
          v=v.replace(/\D/g,"");
          v=v.replace(/(\d{2})(\d)/,"$1/$2");
          v=v.replace(/(\d{2})(\d)/,"$1/$2");

          v=v.replace(/(\d{2})(\d{2})$/,"$1$2");
          return v;
      }

    </script>

  </body>

</html>
